<div class="card border-danger">
  <div class="card-header text-white bg-danger">
      {{ tituloComponenteHijo }}
  </div>
  <div class="card-body">

      <p>El nombre es: {{ nombreComponenteHijo }}</p>

      <button type="button" class="btn btn-primary"
      (click)="eventoBtnSalidaDesdeComponenteHijo()">
      Salida Desde Componente Hijo</button>

  </div>
</div>
