<!-- INI menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Desarrollo front-end con Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarRrhh" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RRHH
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarRrhh">
          <a class="dropdown-item" [routerLink]="['/rrhh/gestion-persona-maqueta']">Persona Maqueta</a>
          <a class="dropdown-item" [routerLink]="['/rrhh/gestion-persona-ng-model']">Persona NgModel</a>
          <a class="dropdown-item" [routerLink]="['/rrhh/gestion-persona']">Persona FormGroup</a>
          <a class="dropdown-item" [routerLink]="['/rrhh/gestion-area']">Area</a>
          <a class="dropdown-item" [routerLink]="['/rrhh/gestion-cargo']">Cargo</a>
          <a class="dropdown-item" [routerLink]="['/rrhh/gestion-prueba']">Prueba</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarConsulta" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CONSULTA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarConsulta">
          <a class="dropdown-item" [routerLink]="['/consulta/consulta-persona']">Consulta Persona</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- FIN menu -->
<div class="mx-5 my-3">
  <router-outlet></router-outlet>
</div>
