<div class="card border-primary">
  <div class="card-header text-white bg-primary">
    <h6>GESTI&Oacute;N PRUEBA</h6>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-6 col-md-12">

        <hr>
        <h5 class="card-title">D23) Directivas:</h5>
        <hr>

        <input type="text" class="form-control"
          [ngStyle]="{'border-color': esValido ? '#dc3545' : false, 'font-size.px':20}"
          [ngClass]="{'text-primary': esValido}" maxLength="50" placeholder="Caja de texto 1">

        <span class="text-danger" *ngIf="esValido">Campo obligatorio 1</span>

        <br><br>

        <input type="text" class="form-control" [ngClass]="{'is-invalid': esValido}"
          [ngStyle]="{'color': esValido ? '#007bff' : false, 'font-size.px':20}" maxLength="50"
          placeholder="Caja de texto 2">

        <span class="text-danger" *ngIf="esValido">Campo obligatorio 2</span>

        <br><br>

        <input type="text" class="form-control" [ngClass]="{'border-danger': esValido}" maxLength="50"
          placeholder="Caja de texto 3">

        <span class="text-danger" *ngIf="esValido">Campo obligatorio 3</span>

        <br><br>
        <!-- linea 44 se coloca entre [] xq va a recibir una variable-->
        <input type="text" class="form-control" [class.border-danger]="esValido" maxLength="50"
          placeholder="Caja de texto 4">

        <span class="text-danger" *ngIf="esValido">Campo obligatorio 4</span>

        <br><br>

        <ul *ngFor="let persona of personas; let i = index">
          <li>Código: {{ persona.id }} - Nombre: {{ persona.nombre }} - Index: {{ i }}</li>
        </ul>

        <br><br>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let persona of personas; let i = index">
              <th scope="row">{{ i }}</th>
              <td>{{ persona.id }}</td>
              <td>{{ persona.nombre }}</td>
            </tr>
          </tbody>
        </table>

        <br><br>

        <select class="form-control">
          <option value="">Seleccionar</option>
          <option [value]="persona.id" *ngFor="let persona of personas; let i = index" [ngSwitch]="persona.pais">
            <span *ngSwitchCase="'PE'" class="text-danger">{{ persona.nombre }} - (Nacionalidad Peruana)</span>
            <span *ngSwitchCase="'CO'" class="text-warning">{{ persona.nombre }} - (Extranjero)</span>
            <span *ngSwitchDefault class="text-primary">{{ persona.nombre }} - (No Definido)</span>
          </option>
        </select>

        <br><br>

        <ul *ngFor="let persona of personas; let i = index" [ngSwitch]="persona.pais">
          <li *ngSwitchCase="'PE'" class="text-danger">Código: {{ persona.id }} - Nombre: {{ persona.nombre }} - Index:
            {{ i }}</li>
          <li *ngSwitchCase="'CO'" class="text-warning">Código: {{ persona.id }} - Nombre: {{ persona.nombre }} - Index:
            {{ i }}</li>
          <li *ngSwitchDefault class="text-primary">Código: {{ persona.id }} - Nombre: {{ persona.nombre }} - Index: {{
            i }}</li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-12">

        <hr>
        <h5 class="card-title">D24) Interpolacion de Strings, Binding de Propiedades y Eventos:</h5>
        <hr>

        <span>{{ textoInterporlacionString }}</span>

        <br><br>

        <input type="text" class="form-control" [maxLength]="tamanioCajaTextoBindingPropiedad"
          [placeholder]="placeholderCajaTextoBindingPropiedad">

        <br><br>

        <button type="button" class="btn btn-primary" (click)="eventoBtnBindingEvento()">
          Guardar
        </button>

        <br><br>

        <!-- (keyup)="eventoInputBindingEvento($event.target.value)" -->

        <input type="text" class="form-control" (keyup)="eventoInputBindingEvento($event)" maxLength="50"
          placeholder="Escribir texto Binding Evento">

      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-12">

        <hr>
        <h5 class="card-title">D25) Entradas y Salidas de Componentes (Input, Output):</h5>
        <hr>

        <app-gestion-prueba-hijo [tituloComponenteHijo]="tituloComponenteHijo" nombreComponenteHijo="Curso Angular "
          (eventoEventEmitterOutput)="eventoBtnInputOutput($event)"></app-gestion-prueba-hijo>

        <br><br>

        <button type="button" class="btn btn-primary" (click)="eventoBtnInputOutputModal()">
          Abrir Componente Hijo - Modal
        </button>

      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-12">

        <hr>
        <h5 class="card-title">D26) Servicios:</h5>
        <hr>

        <button type="button" class="btn btn-primary" (click)="eventoBtnProcesarServicioSinParametro()">
          Procesar Servicio Sin Parametro
        </button>

        <br><br>

        <button type="button" class="btn btn-primary" (click)="eventoBtnProcesarServicioConParametro()">
          Procesar Servicio Con Parametro
        </button>

      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-12">

        <hr>
        <h5 class="card-title">D27) Tuberias - Pipes:</h5>
        <hr>

        <p>LowerCasePipe: {{ "TRABAJANDO CON ANGULAR" | lowercase }}</p>
        <p>UpperCasePipe: {{ textoUpperCasePipe | uppercase }}</p>

        <p>JsonPipe: {{ personas | json }}</p>

        <p>DatePipe1: {{ fecha | date }}</p>
        <p>DatePipe2: {{ fecha | date:'fullDate' }}</p>
        <p>DatePipe3: {{ fecha | date:'dd-MM-yyyy' }}</p>
        <p>DatePipe3: {{ fecha | date:'dd/MM/yyyy hh:mm:ss' }}</p>

      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-12">

        <hr>
        <h5 class="card-title">D30) Navegación – vista y controlador:</h5>
        <hr>

        <button type="button" class="btn btn-link" routerLink="/rrhh/gestion-persona">Ir a otra vista</button>

        <button type="button" class="btn btn-primary" (click)="eventoBtnIrAOtraVista()">Ir a otra vista
          controlador</button>

      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-12">

        <hr>
        <h5 class="card-title">D32) Formularios – NgModel:</h5>
        <hr>

        <form novalidate #formaPersonaNgModel="ngForm">

          Nombre:
          <input type="text" class="form-control"
            name="nombreUsuario"
            [(ngModel)]="usuario.nombre"
            #nombreUsuario="ngModel"
            [ngClass]="{'is-invalid': nombreUsuario.errors?.required && nombreUsuario.touched}"
            placeholder="Ingresar nombre"
            required maxlength="20">

          <div class="text-danger" *ngIf="nombreUsuario.errors?.required && nombreUsuario.touched">
            Campo obligatorio
          </div>

          <div class="text-danger" *ngIf="nombreUsuario.errors?.maxlength && nombreUsuario.touched">
            Tamaño m&aacute;ximo es 20
          </div>

          <br>

          Texto ingresado: {{ usuario.nombre }}

          <br>

          <button type="button" class="btn btn-primary" (click)="eventoBtnValidarNgModel(formaPersonaNgModel)">Validar
            NgModel</button>

        </form>

      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-12">

          <hr>
          <h5 class="card-title">D33) Formularios Reactivos – FormBuilder, FormGroup:</h5>
          <hr>

          <p class="font-weight-bold">FormGroup:</p>

          <form [formGroup]="formaPersona">

              Nombre:
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': formaPersona.get('nombre').hasError('required') && formaPersona.get('nombre').touched}"
              formControlName="nombre"
              placeholder="Ingresar nombre">

              <div class="text-danger" *ngIf="formaPersona.get('nombre').hasError('required') &&
              formaPersona.get('nombre').touched">
                  Campo obligatorio
              </div>

              <div class="text-danger" *ngIf="formaPersona.get('nombre').hasError('maxlength') &&
              formaPersona.get('nombre').touched">
                  Tamaño m&aacute;ximo es 20
              </div>

              Apellido:
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': formaPersona.get('apellido').hasError('required') && formaPersona.get('apellido').touched}"
              formControlName="apellido"
              placeholder="Ingresar apellido">

              <div class="text-danger" *ngIf="formaPersona.get('apellido').hasError('required') &&
              formaPersona.get('apellido').touched">
                  Campo obligatorio
              </div>

              <div class="text-danger" *ngIf="formaPersona.get('apellido').hasError('maxlength') &&
              formaPersona.get('apellido').touched">
                  Tamaño m&aacute;ximo es 20
              </div>

              <br>

              Texto ingresado: {{ formaPersona.get('nombre').value }}

              <br>

              <button type="button" class="btn btn-primary" (click)="eventoBtnValidar()">Validar</button>

          </form>

          <br>

          <p class="font-weight-bold">FormBuilder:</p>

          <form [formGroup]="formaPersonaBuilder">

              Nombre:
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': formaPersonaBuilder.get('nombre').hasError('required') && formaPersonaBuilder.get('nombre').touched}"
              formControlName="nombre"
              placeholder="Ingresar nombre">

              <div class="text-danger" *ngIf="formaPersonaBuilder.get('nombre').hasError('required') &&
              formaPersonaBuilder.get('nombre').touched">
                  Campo obligatorio
              </div>

              <div class="text-danger" *ngIf="formaPersonaBuilder.get('nombre').hasError('maxlength') &&
              formaPersonaBuilder.get('nombre').touched">
                  Tamaño m&aacute;ximo es 20
              </div>

              <br>

              Texto ingresado: {{ formaPersonaBuilder.get('nombre').value }}

              <br>

              <button type="button" class="btn btn-primary" (click)="eventoBtnValidarBuilder()">Validar</button>

          </form>

      </div>
  </div>


  </div>


</div>
